.sidebar {
    position: fixed;
    top: 4.375rem;
    background-color: var(--dark-bg2);
    left: 0;
    width: 15.625rem;
    bottom: 0;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
    z-index: 2;
}

.sidebar__overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 4.375rem;
    left: 0;
    z-index: 1;
    display: none;
}

.sidebar__overlay.active {
    display: block;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0;
}

.sidebar__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sidebar__login {
    background-color: var(--ice2);
    border: 1px solid var(--ice2);
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    font-size: 1.25rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.sidebar__login:hover {
    opacity: 0.9;
}

.sidebar__register {
    border: 1px solid var(--ice2);
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 2px;
    color: var(--ice2);
    font-size: 1.25rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.sidebar__register:hover {
    background-color: var(--ice2);

    color: white;
}

.sidebar .profile .profile_image {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 100%;
    margin: 1rem 0;
}

.sidebar h4 {
    color: var(--offwhite);
}

.sidebar__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style-type: none;
}

.sidebar__item {
    margin-bottom: 10px;
    width: 100%;
}

.sidebar__list a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.sidebar__list a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.sidebar__list span {
    margin-left: 5px;
}

@media screen and (min-width: 768px) {
    .sidebar.active {
        display: none;
    }

    .sidebar__overlay.active {
        display: none;
    }
}
