:root {
    --dark-bg: #22242a;
    --dark-bg2: #2f323a;
    --ice: #1dc4e7;
    --ice2: #19b3d3;
    --offwhite: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}
