$accent-color: #00ff84;
$accent-dark: #00592e;
$white: #fff;
$black: #000;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Work+Sans:wght@100;200;300;400;500;600;900&display=swap');

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
.btn {
  font-family: 'Work sans', sans-serif;
}

h1 {
  font-weight: 900;
}

a {
  text-decoration: none;
}

.text-white {
  color: $white !important;
}

.text-accent-dark {
  color: $accent-dark !important;
}

.text-accent {
  color: $accent-color;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: 300ms;
  text-align: center;

  &:hover {
    transform: scale(1.03, 1.07);
  }
}

.btn-accent {
  background-color: $accent-color;
}

.btn-border-accent {
  background-color: transparent;
  border: 2px solid $accent-color;
  color: $accent-color;
}

@import 'homepage';
@import 'navbar';
@import 'shop';
@import 'login';
