.navbar {
  width: 100%;
  height: 70px;
  background-color: darken($white, 5%);
  @include flexCenter;

  &__container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 1.8rem;
  }

  &__searchbar {
    position: relative;
    width: 450px;

    input {
      width: 100%;
      padding: 8px;
      border-radius: 7px;
      border: none;

      &:focus {
        outline: 1px solid darken($white, 20%);
      }
    }

    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }

  &__options {
    width: 200px;
    @include flexEvenly;

    .btn {
      margin-right: 20px;
    }

    .logout a {
      position: absolute;
      top: 70px;
      right: 0;
      background-color: darken($white, 5%);
      width: 10%;
      padding: 10px;

      list-style: none;
    }

    svg {
      width: 40px;
      height: 40px;
      background-color: $white;
      color: $accent-color;
      padding: 10px;
      border-radius: 50%;
    }
  }
}
