.shop {
  &__container {
    width: 90%;
    margin-inline: auto;
    margin-top: 20px;

    .card {
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid darken($white, 4%);

      &__head {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: $accent-color;
      }

      &__body {
        padding: 15px;
        @include flexEvenly;

        .description,
        .buttons {
          min-height: 120px;
        }

        .description {
          width: 40%;
          h3 {
            margin: 10px 0;
            font-weight: 600;
          }

          h4 {
            font-size: 0.9rem;
            font-weight: 400;
          }
        }

        .buttons {
          width: 50%;
          .btn {
            margin: 10px 0;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .shop {
    &__container {
      @include flexEvenly;
      flex-wrap: wrap;
      .card {
        width: 45%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .shop .shop__container .card {
    width: 30%;
  }
}

@media only screen and (min-width: 1440px) {
  .shop .shop__container .card {
    width: 23%;
  }
}

@media only screen and (min-width: 1920px) {
  .shop .shop__container {
    width: 1600px;
  }
}
